{% extends "base.html" %}
{% block content %}
{%load static%}
<h3>welcome to Contact page</h3>
<hr>
<center>
<div class="slider">
    <img src="{% static 'images/contact.jpg' %}"  alt="survey img" width="60%" height="50%">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate labore, reiciendis, facere officiis pariatur voluptatum natus aspernatur aliquid quas quae sint laudantium optio illum temporibus unde. Praesentium sed hic ducimus, dolor dolore repellendus iusto dignissimos omnis architecto id officia sunt quo esse enim rerum libero assumenda error, nemo corrupti consectetur. Soluta reprehenderit eum atque aut eligendi ea ipsa ullam voluptates neque, quas rerum expedita natus. Delectus quod inventore, nulla facilis officia ad perspiciatis animi quibusdam illo, tenetur quo nam beatae voluptatem nobis! Quae, veritatis corporis exercitationem, vero sapiente esse, quia commodi maiores tempora est earum quos suscipit in quod quidem!</p>
</div>
</center>

{% endblock %}