{% extends "base.html" %}
{% block content%}
{%load static%}
<div class="mylogpage">
  <br>

  <div class="pagelog">

    <center>

      <img src="{% static 'images/login.jpg' %}"  alt="survey img" width="15%">
      <h2>User login</h2>

      <form method="post">
        {%csrf_token%}
        <table>
          {{ login_form.as_table }}

        </table>
        <input type="submit" value="Login">
    </center>
  </div>
  <center>
    {%if messages%}
    {%for result in messages%}
    <script>
      alert('{{result}}')
    </script>
    {%endfor%}
    {%endif%}

    </form>

  </center>


</div>

{%endblock%}